body {
    padding: 0px;
    margin: 0px;
}

.navbar {
    position: sticky;
    left: 0px;
    top: 0px;
    padding: 5px;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
}
.navbar .links {
    position: absolute;
    right: 5%;
    top: 30%;
}

header {
    padding: 4%;
}
footer {
    text-align: center;
    font-size: 8px;
}

.main-text {
    padding: 5%;
}

.image-grid {
    margin-left: 20%;
    margin-bottom: 10%;
}

.image-grid .image-line {
    display: block;
    margin-bottom: 10%;
}
.image-grid .image-line img {
    margin-left: 10%;
}