/*Mudanças no modo mobile*/
@media screen and (max-width: 479px) {
    .background {padding: 0}
    .general-container {border-radius: 0;}
    .navbar {font-size: 2vh; padding-left: 5px; padding-right: 5px; align-items: center;}
    .navbar a:active {border-bottom: 3px solid var(--primary); background-color: transparent;}  
    .profile-picture {
        margin-top: -50px; 
        max-width: 100px;
    }
    .contact a {padding: 10px; border-radius: 100%; font-size: 3vh; width: 25px; height: 25px; text-align: center;}

    /*Esconder classes*/
    .hide-mobile {display: none;}

    .content-container {padding: 5px 0;}
    .publication {border-radius: 0;}
    .publication a {padding: 0 3px;}
}